body { font-family:Arial,sans-serif; }
h1 { color:black; size:48px; text-decoration:underline;}
h3 { color:black; size:8px;}
a:link {color:blue;text-decoration:none}
a:visited {color:blue;text-decoration:none}
a:hover {color:blue;text-decoration:none;background-color:#AAA}
a:focus{color:blue;text-decoration:none}
a:active{color:blue;text-decoration:none}